In [2]:
import numpy as np
import pandas as pd
from datetime import datetime 
from datetime import timedelta
import csv 
import matplotlib.pyplot as plt
from datetime import date
from datetime import time
import calendar
import locale
import seaborn as sns

In [3]:
def convertTimeStamp(string):
    """Converts a string to a datetime object.
    """
    time = datetime.strptime(string,'%m/%d/%Y %I:%M:%S %p') #Accepts time string, converts it to datetime object.
    return time

In [4]:
#convert seconds to weeks, days, hours, minutes, seconds

intervals = (
    ('weeks', 604800),  # 60 * 60 * 24 * 7
    ('days', 86400),    # 60 * 60 * 24
    ('hours', 3600),    # 60 * 60
    ('minutes', 60),
    ('seconds', 1),
    )

def display_time(seconds, granularity=2):
    result = []

    for name, count in intervals:
        value = seconds // count
        if value:
            seconds -= value * count
            if value == 1:
                name = name.rstrip('s')
            result.append("{} {}".format(value, name))
    return ', '.join(result[:granularity])

In [5]:
def elapsedInMonths(filepath):
    """councilTime accepts a csv file and returns a dataframe which displays the average elapsed time between created date 
        and update date for service requests in each distinct council district.
        Data from: https://data.lacity.org/A-Well-Run-City/MyLA311-Service-Request-Data-2018/h65r-yf5i
        """
    
    dataframe = pd.read_csv(filepath)
    
    
    #filter dateset to CreatedDate and UpdatedDate columns
    created_df = dataframe['CreatedDate'].dropna().apply(convertTimeStamp, 0) #apply convertTimeStamp to CreatedDate
    updated_df = dataframe['UpdatedDate'].dropna().apply(convertTimeStamp, 0) #apply convertTimeStamp to UpdatedDate
    
    
    #create elapsed time and elapsed seconds columns and insert into dataframe
    elapsed_df = updated_df - created_df #calculate the difference in the values in CreatedDate and UpdatedDate
    dataframe.insert(3, "ElapsedTime", elapsed_df) #insert column ElapsedTime with dataframe elapsed_df into dataframe dataframe
    elapsed_seconds = dataframe['ElapsedTime'].dt.total_seconds() #convert ElapsedTime values to seconds
    dataframe.insert(4, 'ElapsedTime in Seconds', elapsed_seconds)
    
    
    #convert CreatedDate and UpdatedDate to datetime objects
    created_df = pd.to_datetime(dataframe['CreatedDate'], format='%m/%d/%Y %I:%M:%S %p')
    updated_df = pd.to_datetime(dataframe['UpdatedDate'], format='%m/%d/%Y %I:%M:%S %p')
    
    
    df4 = dataframe[['CreatedDate', 'UpdatedDate', 'ElapsedTime', 'ElapsedTime in Seconds']] #create a dataframe df4 with dates and elapsed time columns from dataframe
    df4 = df4.sort_values(by = 'CreatedDate')
        
    
    #create a dataframe of the months of CreatedDate rows
    for row in range(0, len(created_df)-1):
        created_df[row] = created_df[row].month
        
    
    #create dataframes for each unique month with ElapsedTime column
    monthsList = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
    for num in range(0,11):
        month = monthsList[num]
        print('Elapsed Times in', month)
        
        #group CreatedDate by month
        is_month =  created_df==num+1
        df4_month = df4[is_month]
        
        #print columns CreatedDate, UpdatedDate, ElapsedTime, ElapsedTime in Seconds
        month_time = df4_month[['CreatedDate', 'UpdatedDate', 'ElapsedTime']]
        print(month_time)

        #find average elapsed time for each month
        elapsed_avg = df4_month['ElapsedTime in Seconds'].mean()
        elapsed_avg = display_time(elapsed_avg, 5)

        print('\nAverage Elapsed Time in', monthsList[num],':', elapsed_avg)
        print('\n\n')

In [6]:
elapsedInMonths(r"C:\Users\hanaa\Downloads\MyLA311_Service_Request_Data_2018.csv")

C:\Users\hanaa\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3249: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

Elapsed Times in January
                  CreatedDate             UpdatedDate     ElapsedTime
395    01/01/2018 01:00:00 PM  01/02/2018 03:02:00 PM 1 days 02:02:00
396    01/01/2018 01:00:00 PM  01/04/2018 10:06:00 AM 2 days 21:06:00
400    01/01/2018 01:01:00 PM  01/05/2018 01:29:00 PM 4 days 00:28:00
399    01/01/2018 01:01:00 PM  01/04/2018 08:07:00 AM 2 days 19:06:00
398    01/01/2018 01:01:00 PM  01/03/2018 12:15:00 PM 1 days 23:14:00
...                       ...                     ...             ...
99499  01/31/2018 12:59:00 PM  01/31/2018 12:59:00 PM 0 days 00:00:00
99500  01/31/2018 12:59:00 PM  01/31/2018 12:59:00 PM 0 days 00:00:00
99501  01/31/2018 12:59:00 PM  01/31/2018 12:59:00 PM 0 days 00:00:00
99502  01/31/2018 12:59:00 PM  01/31/2018 12:59:00 PM 0 days 00:00:00
99504  01/31/2018 12:59:00 PM  02/07/2018 01:49:00 PM 7 days 00:50:00

[101409 rows x 3 columns]

C:\Users\hanaa\Anaconda3\lib\site-packages\ipykernel_launcher.py:42: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

Average Elapsed Time in January : 4.0 days, 16.0 hours, 18.0 minutes, 23.0 seconds



Elapsed Times in February
                   CreatedDate             UpdatedDate     ElapsedTime
103167  02/01/2018 01:00:00 PM  02/02/2018 01:19:00 PM 1 days 00:19:00
103165  02/01/2018 01:00:00 PM  02/05/2018 12:00:00 PM 3 days 23:00:00
103166  02/01/2018 01:00:00 PM  02/02/2018 10:36:00 AM 0 days 21:36:00
103168  02/01/2018 01:01:00 PM  02/02/2018 02:12:00 PM 1 days 01:11:00
103169  02/01/2018 01:01:00 PM  02/02/2018 10:38:00 AM 0 days 21:37:00
...                        ...                     ...             ...
184927  02/28/2018 12:58:00 PM  03/02/2018 10:41:00 AM 1 days 21:43:00
184935  02/28/2018 12:59:00 PM  03/08/2018 02:48:00 PM 8 days 01:49:00
184932  02/28/2018 12:59:00 PM  03/01/2018 03:49:00 PM 1 days 02:50:00
184933  02/28/2018 12:59:00 PM  03/04/2018 01:13:00 PM 4 days 00:14:00
184934  02/28/2018 12:59:00 PM  03/07/2018 04:32:00 PM 7 days 03:33:00

[85276 rows x 3 columns]

Average Elapsed Time in February : 4.0 days, 1.0 hour, 25.0 minutes, 52.0 seconds



Elapsed Times in March
                   CreatedDate             UpdatedDate      ElapsedTime
188611  03/01/2018 01:00:00 PM  03/09/2018 05:54:00 AM  7 days 16:54:00
188612  03/01/2018 01:01:00 PM  03/06/2018 01:29:00 PM  5 days 00:28:00
188613  03/01/2018 01:01:00 PM  03/03/2018 01:07:00 PM  2 days 00:06:00
188614  03/01/2018 01:01:00 PM  03/07/2018 08:47:00 AM  5 days 19:46:00
188615  03/01/2018 01:02:00 PM  03/02/2018 07:56:00 AM  0 days 18:54:00
...                        ...                     ...              ...
283453  03/31/2018 12:56:00 PM  04/05/2018 08:17:00 AM  4 days 19:21:00
283454  03/31/2018 12:57:00 PM  04/02/2018 04:22:00 PM  2 days 03:25:00
283455  03/31/2018 12:58:00 PM  04/06/2018 03:15:00 PM  6 days 02:17:00
283456  03/31/2018 12:58:00 PM  04/02/2018 09:22:00 AM  1 days 20:24:00
283457  03/31/2018 12:59:00 PM  04/30/2018 08:28:00 AM 29 days 19:29:00

[97421 rows x 3 columns]

Average Elapsed Time in March : 3.0 days, 21.0 hours, 6.0 minutes, 39.0 seconds



Elapsed Times in April
                   CreatedDate             UpdatedDate     ElapsedTime
284615  04/01/2018 01:01:00 PM  04/02/2018 07:27:00 AM 0 days 18:26:00
284111  04/01/2018 01:02:00 AM  04/04/2018 05:27:00 PM 3 days 16:25:00
284616  04/01/2018 01:02:00 PM  04/06/2018 12:16:00 PM 4 days 23:14:00
284617  04/01/2018 01:03:00 PM  04/02/2018 08:33:00 AM 0 days 19:30:00
284618  04/01/2018 01:03:00 PM  04/04/2018 02:22:00 PM 3 days 01:19:00
...                        ...                     ...             ...
381679  04/30/2018 12:58:00 PM  05/02/2018 04:13:00 PM 2 days 03:15:00
381680  04/30/2018 12:58:00 PM  05/07/2018 05:19:00 AM 6 days 16:21:00
381681  04/30/2018 12:59:00 PM  05/03/2018 02:02:00 PM 3 days 01:03:00
381682  04/30/2018 12:59:00 PM  05/04/2018 03:06:00 PM 4 days 02:07:00
381683  04/30/2018 12:59:00 PM  05/07/2018 04:19:00 PM 7 days 03:20:00

[99573 rows x 3 columns]

Average Elapsed Time in April : 4.0 days, 58.0 minutes, 44.0 seconds



Elapsed Times in May
                   CreatedDate             UpdatedDate     ElapsedTime
385876  05/01/2018 01:00:00 PM  05/10/2018 10:19:00 AM 8 days 21:19:00
385875  05/01/2018 01:00:00 PM  05/01/2018 01:05:00 PM 0 days 00:05:00
385874  05/01/2018 01:00:00 PM  05/01/2018 01:05:00 PM 0 days 00:05:00
385873  05/01/2018 01:00:00 PM  05/01/2018 01:05:00 PM 0 days 00:05:00
385872  05/01/2018 01:00:00 PM  05/02/2018 08:45:00 AM 0 days 19:45:00
...                        ...                     ...             ...
483094  05/31/2018 12:58:00 PM  06/04/2018 04:50:00 PM 4 days 03:52:00
483095  05/31/2018 12:58:00 PM  06/01/2018 07:43:00 AM 0 days 18:45:00
483096  05/31/2018 12:59:00 PM  06/04/2018 02:57:00 PM 4 days 01:58:00
483097  05/31/2018 12:59:00 PM  06/06/2018 04:06:00 PM 6 days 03:07:00
483098  05/31/2018 12:59:00 PM  06/05/2018 07:05:00 AM 4 days 18:06:00

[101558 rows x 3 columns]

Average Elapsed Time in May : 4.0 days, 13.0 hours, 2.0 minutes, 1.0 second



Elapsed Times in June
                   CreatedDate             UpdatedDate     ElapsedTime
486794  06/01/2018 01:00:00 PM  06/02/2018 02:05:00 PM 1 days 01:05:00
486799  06/01/2018 01:01:00 PM  06/02/2018 11:50:00 AM 0 days 22:49:00
486797  06/01/2018 01:01:00 PM  06/07/2018 07:14:00 PM 6 days 06:13:00
486796  06/01/2018 01:01:00 PM  06/07/2018 12:49:00 PM 5 days 23:48:00
486798  06/01/2018 01:01:00 PM  06/08/2018 10:41:00 AM 6 days 21:40:00
...                        ...                     ...             ...
586227  06/30/2018 12:57:00 PM  07/02/2018 01:11:00 PM 2 days 00:14:00
586232  06/30/2018 12:58:00 PM  06/30/2018 02:10:00 PM 0 days 01:12:00
586230  06/30/2018 12:58:00 PM  07/07/2018 05:59:00 AM 6 days 17:01:00
586231  06/30/2018 12:58:00 PM  07/06/2018 08:18:00 AM 5 days 19:20:00
586233  06/30/2018 12:59:00 PM  07/02/2018 03:41:00 PM 2 days 02:42:00

[102110 rows x 3 columns]

Average Elapsed Time in June : 5.0 days, 6.0 hours, 42.0 minutes, 14.0 seconds



Elapsed Times in July
                   CreatedDate             UpdatedDate     ElapsedTime
587929  07/01/2018 01:00:00 PM  07/02/2018 01:06:00 PM 1 days 00:06:00
587366  07/01/2018 01:01:00 AM  07/06/2018 03:32:00 PM 5 days 14:31:00
587930  07/01/2018 01:01:00 PM  07/02/2018 12:10:00 PM 0 days 23:09:00
587931  07/01/2018 01:01:00 PM  07/07/2018 12:35:00 PM 5 days 23:34:00
587932  07/01/2018 01:01:00 PM  07/06/2018 01:20:00 PM 5 days 00:19:00
...                        ...                     ...             ...
696469  07/31/2018 12:59:00 PM  08/06/2018 03:39:00 PM 6 days 02:40:00
696470  07/31/2018 12:59:00 PM  08/01/2018 07:54:00 AM 0 days 18:55:00
696471  07/31/2018 12:59:00 PM  08/06/2018 01:18:00 PM 6 days 00:19:00
696472  07/31/2018 12:59:00 PM  08/02/2018 02:59:00 PM 2 days 02:00:00
696473  07/31/2018 12:59:00 PM  08/03/2018 10:26:00 AM 2 days 21:27:00

[111808 rows x 3 columns]

Average Elapsed Time in July : 5.0 days, 9.0 hours, 22.0 minutes, 15.0 seconds



Elapsed Times in August
                   CreatedDate             UpdatedDate     ElapsedTime
699178  08/01/2018 01:00:00 AM  08/07/2018 02:51:00 PM 6 days 13:51:00
701663  08/01/2018 01:00:00 PM  08/07/2018 08:00:00 AM 5 days 19:00:00
701664  08/01/2018 01:00:00 PM  08/02/2018 02:41:00 PM 1 days 01:41:00
701662  08/01/2018 01:00:00 PM  08/03/2018 07:50:00 AM 1 days 18:50:00
701666  08/01/2018 01:01:00 PM  08/08/2018 04:29:00 PM 7 days 03:28:00
...                        ...                     ...             ...
811465  08/31/2018 12:59:00 PM  09/05/2018 04:06:00 PM 5 days 03:07:00
811464  08/31/2018 12:59:00 PM  09/08/2018 01:17:00 PM 8 days 00:18:00
811461  08/31/2018 12:59:00 PM  09/08/2018 07:50:00 AM 7 days 18:51:00
811462  08/31/2018 12:59:00 PM  09/07/2018 11:38:00 AM 6 days 22:39:00
811463  08/31/2018 12:59:00 PM  09/05/2018 01:11:00 AM 4 days 12:12:00

[113800 rows x 3 columns]

Average Elapsed Time in August : 5.0 days, 20.0 hours, 1.0 minute, 45.0 seconds



Elapsed Times in September
                   CreatedDate             UpdatedDate     ElapsedTime
813025  09/01/2018 01:02:00 AM  09/01/2018 01:04:00 AM 0 days 00:02:00
813024  09/01/2018 01:02:00 AM  09/01/2018 01:04:00 AM 0 days 00:02:00
813023  09/01/2018 01:02:00 AM  09/01/2018 01:04:00 AM 0 days 00:02:00
813022  09/01/2018 01:02:00 AM  09/01/2018 01:04:00 AM 0 days 00:02:00
813021  09/01/2018 01:02:00 AM  09/01/2018 01:04:00 AM 0 days 00:02:00
...                        ...                     ...             ...
914477  09/30/2018 12:58:00 PM  10/01/2018 01:44:00 PM 1 days 00:46:00
914478  09/30/2018 12:58:00 PM  10/04/2018 03:47:00 PM 4 days 02:49:00
914482  09/30/2018 12:59:00 PM  10/04/2018 04:32:00 PM 4 days 03:33:00
914481  09/30/2018 12:59:00 PM  10/02/2018 01:32:00 PM 2 days 00:33:00
914480  09/30/2018 12:59:00 PM  10/01/2018 03:49:00 PM 1 days 02:50:00

[102777 rows x 3 columns]

Average Elapsed Time in September : 6.0 days, 6.0 hours, 34.0 minutes, 2.0 seconds



Elapsed Times in October
                    CreatedDate             UpdatedDate       ElapsedTime
918309   10/01/2018 01:00:00 PM  10/02/2018 11:34:00 AM   0 days 22:34:00
918310   10/01/2018 01:00:00 PM  10/02/2018 12:04:00 PM   0 days 23:04:00
918311   10/01/2018 01:00:00 PM  10/04/2018 11:17:00 AM   2 days 22:17:00
918308   10/01/2018 01:00:00 PM  10/02/2018 10:07:00 AM   0 days 21:07:00
918307   10/01/2018 01:00:00 PM  10/05/2018 07:48:00 AM   3 days 18:48:00
...                         ...                     ...               ...
1025197  10/31/2018 12:58:00 PM  11/01/2018 12:42:00 PM   0 days 23:44:00
1025198  10/31/2018 12:58:00 PM  11/01/2018 10:16:00 AM   0 days 21:18:00
1025194  10/31/2018 12:58:00 PM  11/02/2018 07:58:00 AM   1 days 19:00:00
1025199  10/31/2018 12:59:00 PM  01/29/2020 02:13:00 PM 455 days 01:14:00
1025200  10/31/2018 12:59:00 PM  11/01/2018 10:42:00 AM   0 days 21:43:00

[111362 rows x 3 columns]

Average Elapsed Time in October : 6.0 days, 15.0 hours, 58.0 minutes, 44.0 seconds



Elapsed Times in November
                    CreatedDate             UpdatedDate      ElapsedTime
1028984  11/01/2018 01:00:00 PM  11/08/2018 02:57:00 PM  7 days 01:57:00
1028986  11/01/2018 01:00:00 PM  11/01/2018 01:38:00 PM  0 days 00:38:00
1028985  11/01/2018 01:00:00 PM  11/02/2018 11:55:00 AM  0 days 22:55:00
1028990  11/01/2018 01:01:00 PM  11/06/2018 11:01:00 AM  4 days 22:00:00
1028987  11/01/2018 01:01:00 PM  02/01/2019 11:03:00 AM 91 days 22:02:00
...                         ...                     ...              ...
1118689  11/30/2018 12:58:00 PM  11/30/2018 01:15:00 PM  0 days 00:17:00
1118685  11/30/2018 12:58:00 PM  12/03/2018 12:54:00 PM  2 days 23:56:00
1118687  11/30/2018 12:58:00 PM  12/05/2018 09:40:00 AM  4 days 20:42:00
1118690  11/30/2018 12:59:00 PM  12/04/2018 09:26:00 AM  3 days 20:27:00
1118691  11/30/2018 12:59:00 PM  12/05/2018 09:40:00 AM  4 days 20:41:00

[92700 rows x 3 columns]

Average Elapsed Time in November : 6.0 days, 13.0 hours, 40.0 minutes, 12.0 seconds