In [1]:
import numpy as np
import pandas as pd
from datetime import datetime 
import csv 
import matplotlib.pyplot as plt
from datetime import date
from datetime import time

In [2]:
def convertTime(string):
    """Converts a string to a datetime object.
    """
    time = datetime.strptime(string,'%m/%d/%Y %I:%M:%S %p') #Accepts time string, converts it to datetime object.
    return time
    
def elapsedTime(csv):
    """
    Accepts CSV file and creates new dataframe of all timestamps for both service request submission and fulfillment times.
    Input CSV file in the format: r'filepath'
    Data source: https://data.lacity.org/A-Well-Run-City/MyLA311-Service-Request-Data-2019/pvft-t768
    """
    df = pd.read_csv(csv) #
   
    hdf = df[['CreatedDate','ServiceDate']].dropna() #filter the dataset to the columns CreatedDate and ServiceDate
    
    df1 = hdf['CreatedDate'].apply(convertTime, 0) # apply convertTime to all values in CreatedDate
    df2 = hdf['ServiceDate'].apply(convertTime, 0) # apply convertTime to all values in ServiceDate
    
    df['ElapsedTime'] = df2 - df1 #calculate the difference in the values in CreatedDate and ServiceDate
    df['ElapsedTime']=df['ElapsedTime']/np.timedelta64(1,'m') 
    df['ElapsedTime'] = df['ElapsedTime'].apply(convertFromSeconds, 0) #apply convertFromSeconds to all values in ElapsedTime to 
    #show elapsed time in days, hours, mins, and sec
    
    hdf = df[['CreatedDate','ServiceDate', 'ElapsedTime']].dropna() #create a dataset with the columns CreatedDate, ServiceDate, 
    #and ElapsedTime

    return hdf.head()
    
def convertFromSeconds(s): # total seconds
    """ convertFromSeconds(s): Converts an integer # of seconds into a list of [days, hours, minutes, seconds]
        input s: an int
    """
    s = s*60
    days = s // (24*60*60)  # total days
    s = s % (24*60*60) # remainder s
    hours = s // (60*60) # total hours
    s = s % (60*60) # remainder s
    minutes = s // 60 # total minutes
    s = s % 60 # remainder s
    statement = (days, ' days') + (hours, ' hrs') +(minutes, ' mins') + (s, 'sec')
    return statement

In [3]:
elapsedTime(r"C:\Users\hanaa\Downloads\ServiceRequests2019.csv")

,CreatedDate,ServiceDate,ElapsedTime
0,01/01/2019 12:02:00 AM,01/04/2019 12:00:00 AM,"(2.0, days, 23.0, hrs, 58.0, mins, 0.0, sec)"
2,01/01/2019 12:10:00 AM,01/02/2019 08:43:00 AM,"(1.0, days, 8.0, hrs, 33.0, mins, 0.0, sec)"
3,01/01/2019 12:19:00 AM,01/07/2019 12:00:00 AM,"(5.0, days, 23.0, hrs, 41.0, mins, 0.0, sec)"
4,01/01/2019 12:28:00 AM,01/02/2019 10:12:00 AM,"(1.0, days, 9.0, hrs, 44.0, mins, 0.0, sec)"
5,01/01/2019 12:32:00 AM,01/02/2019 11:16:00 AM,"(1.0, days, 10.0, hrs, 44.0, mins, 0.0, sec)"